.container {
    display: flex;
    flex-direction: column;
    width: 30em;
    ::ng-deep.mat-dialog-content {
      display:flex;
      flex-flow: column;
      justify-content: space-around;
      max-height: 100%;
      height: 100%;
      overflow: initial;
    }

    .title-container {
      align-items: center;

      .profile-title {
        font-size: 1.2em;
        font-weight: 600;
        margin-left: 0.5em;
      }
    }

    
  }
  
  .container > * {
    width: 100%;
  }
  
  .form {
    display: flex;
    padding-top: 6px;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
  }

  textarea {
    min-height: 100px;
  }
  

  @media screen and (max-width: 575px) {
    .container {
      width: 18em;
      height: 65vh;
    }

    ::ng-deep.full-width-dialog {
      max-width: 95vw !important;
    }
  }