<div class="container">
    <div fxLayout="row" class="title-container">
        <button *ngIf="data" [style.background-image]="'url(' + data?.photoURL + ')'" aria-label="Open x-positioned menu"
            mat-mini-fab style="background-size: cover">
            <span *ngIf="!data?.photoURL">{{displayNameInitials || ''}}</span>
        </button>
        <span *ngIf="data?.isOtherUser" class="profile-title" translate>profile.altTitle</span>
        <span *ngIf="!data?.isOtherUser" class="profile-title" translate>profile.title</span>
    </div>

    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

        <div class="form">
            <mat-form-field color="primary">
                <input matInput #inputstateName class="form-control" placeholder="{{ 'profile.name' | translate }}" [(ngModel)]="data.displayName"
                    name="displayName" required maxlength="50" [disabled]="data?.isOtherUser">
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                <mat-hint align="end">{{inputstateName.value?.length || 0}}/50</mat-hint>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="primary">
                <mat-label translate>profile.primaryRole</mat-label>
                <mat-select class="form-control" [(ngModel)]="data.primaryRole" name="primaryRole"
                [disabled]="data?.primaryRole == 'Admin'" required (selectionChange)="onRoleChange($event.value)">
                    <mat-option>{{ 'profile.clear' | translate }}</mat-option>
                    <mat-option *ngFor="let role of primaryRoles" [value]="role.value" [disabled]="checkRole(role.value)">
                        {{role.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="primary">
                <mat-label translate>profile.secondaryRole</mat-label>
                <mat-select class="form-control" [(ngModel)]="data.secondaryRole" name="secondaryRole" disabled>
                    <mat-option>{{ 'profile.clear' | translate }}</mat-option>
                    <mat-option *ngFor="let role of secondaryRoles" [value]="role">
                        {{role}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="primary">
                <mat-label translate>reflection.carpChapter</mat-label>
                <mat-select class="form-control" [(ngModel)]="data.chapters" name="chapter" (selectionChange)="chaptersChanged($event.value)" multiple required>
                    <!-- <mat-option [value]="'UCI'" [disabled]="">Select All</mat-option> -->
                    <mat-option *ngFor="let carpChapter of carpChapters" [value]="carpChapter" [disabled]="disableChapter(carpChapter)">
                        {{carpChapter}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                <mat-hint align="end">{{data.chapters?.length || 0}}/{{maxChapters+1}}</mat-hint>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button [type]="submit" [disabled]="!formControl.valid" (click)="confirmAdd()">
                <span translate>menu.save</span>
            </button>
            <button mat-button (click)="onNoClick()" tabindex="-1" color="warn">
                <span translate>menu.cancel</span>
            </button>
        </div>
    </form>
</div>