:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    min-height: 80%;

    .new-message {
      text-align: center;
    }

    .filter-form {
      width: 50%;

      mat-form-field {
        width: 100%;
      }
    }

    .table-container {
      min-width: 50%;

      .reflection-table {
        width: 100%;

        td.mat-column-displayName {
          width: 30%;
        }

        td.mat-column-primaryRole,
        td.mat-column-secondaryRole {
          width: 15%;
        }

        td.mat-column-chapters {
          width: auto;
        }

        td.mat-column-actions {
          width: 1%;
        }

        td.mat-cell {
          font-size: 1.2em;
        }

        tr:nth-child(odd) {
          background-color: lavender;
        }

        tr.mat-header-row {
          background-color: white;
        }
        
      }
    }
    
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  svg#moon {
    // height: 100vh;
    position: absolute;
    top: 10vh;
    right: 5vw;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 12px;
    display: flex;
    align-items: center;
    line-height: 20px;
    text-align: center;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 3000px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }

    .content {
      max-width: 100%;

      .filter-form {
        width: 75%;
        font-size: 1.2em;
        font-weight: bold;
      }
      
      .table-container {
        min-width: 10%;
  
        .reflection-table {
    
          th.mat-column-name, td.mat-column-name {
            width: auto;
          }
        }
        
      }
    }

    @media screen and (max-width: 375px) {
      th.mat-column-secondaryRole, td.mat-column-secondaryRole {
        display: none;
      }
    }
  }