<button id="translate-btn" mat-button [matMenuTriggerFor]="langMenu" [matTooltip]="'translate'" mat-mini-fab
  color="basic">
  <mat-icon aria-label="Language">g_translate</mat-icon>
</button>

<mat-menu #langMenu="matMenu">
  <button mat-menu-item (click)="setLanguage('eng')">English</button>
  <button mat-menu-item (click)="setLanguage('ja')">日本</button>
</mat-menu>

<button *ngIf="user" [matMenuTriggerFor]="posXMenu" [matTooltip]="user?.displayName"
  [style.background-image]="'url(' + loginUser?.photoURL + ')'" aria-label="Open x-positioned menu" mat-mini-fab
  style="background-size: cover">
  <span *ngIf="!loginUser?.photoURL">{{displayNameInitials || ''}}</span>
</button>

<mat-menu #posXMenu="matMenu">
  <div fxLayout="row" fxLayout.xs="column" style="padding-left: 10px; padding-right: 10px">
    <div class="user-info-container">
      <strong mat-card-title>{{user?.displayName}}</strong>
      <em mat-card-subtitle style="font-style: italic">{{loginUser?.email}}</em>
      <em mat-card-subtitle>-- {{user?.primaryRole || 'Member'}} --</em>
    </div>
  </div>

  <mat-divider></mat-divider>

  <section class="toggle-section" (click)="$event.stopPropagation()">
    <mat-slide-toggle class="toggle-btn" color="primary" [checked]="isNightModeChecked" (click)="switchMode()">
      <span>{{ "avatar.darkMode" | translate }}</span>
    </mat-slide-toggle>
  </section>

  <mat-divider></mat-divider>

  <div class="menu-container" fxFlex="100" fxLayout="column">
    <button (click)="openProfile()" color="primary" mat-button>
      <mat-icon aria-label="Profile">whatshot</mat-icon>
      <span>{{ "avatar.profile" | translate }}</span>
    </button>
    <button (click)="goToPage('/home')" color="primary" mat-button *ngIf="isManageUser">
      <mat-icon aria-label="Profile">notes</mat-icon>
      <span>{{ "avatar.reflections" | translate }}</span>
    </button>
    <button (click)="goToPage('/users')" color="primary" mat-button *ngIf="isAdmin && !isManageUser">
      <mat-icon aria-label="Profile">vpn_key</mat-icon>
      <span>{{ "avatar.userManagement" | translate }}</span>
    </button>
    <button (click)="signOut()" color="warn" mat-button>
      <mat-icon aria-label="Sign Out">hotel</mat-icon>
      <span>{{ "avatar.signOut" | translate }}</span>
    </button>
  </div>
</mat-menu>