::ng-deep.full-width-dialog {
    max-width: 70vw !important;
    width: 35em;
    min-height: 65vh;
}

@media screen and (max-width: 575px) {
    ::ng-deep.full-width-dialog {
        max-width: 90vw !important;
        width: 100%;
        min-height: 65vh;
    }
}
