/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// .add-dialog .mat-dialog-container,
// .edit-dialog .mat-dialog-container,
// .delete-dialog .mat-dialog-container {
//     max-height: 100%;
// }

.mat-dialog-content {
    max-height: 100% !important;
    height: calc(100% - 44px);
    display: flex !important;
    flex-flow: column;
    justify-content: space-between;

    .content-form {
        flex-grow: 1;
        overflow: auto;
    }
}

.mat-dialog-actions {
    padding: 0px !important;
    margin: 0px !important;
    justify-content: flex-end;
}

.full-width-dialog.add-dialog,
.full-width-dialog.edit-dialog,
.full-width-dialog.profile-dialog {
    max-width: 70vw !important;
    width: 35em;
    height: 65vh;
    // min-height: 320px;
}

.full-width-dialog.delete-dialog {
    max-width: 70vw !important;
    width: 35em;
    height: 50vh;
    min-height: 320px;
}

@media screen and (max-width: 575px) {
    .full-width-dialog,
    .full-width-dialog.add-dialog,
    .full-width-dialog.edit-dialog,
    .full-width-dialog.delete-dialog,
    .full-width-dialog.profile-dialog {
        max-width: 90vw !important;
        width: 100% !important;
        height: 80vh !important;
    }
}

.dark-theme {
    background-color: #1e2124;

    mat-card {
        background-color: #979797;
    }

    .mat-form-field-underline {
        background-color: white !important;
    }

    input:not(:disabled),
    label,
    footer,
    textarea,
    h3,
    .mat-menu-content > button,
    .mat-select-value-text > span,
    .profile-title {
        color: white !important;
    }

    svg#moon > path {
        fill: #bbbbbb;
    }

    svg#clouds > path {
        fill: #2a1a4b;
    }

    tr.mat-header-row {
        background-color: #282b30 !important;

        .mat-sort-header-button {
            color: white !important;
        }
    }

    th.mat-header-cell:not(:first-of-type):not(:last-of-type) {
        padding: 0.5em !important;
    }

    div#reflection tbody {
        background-color: #36393e !important;

        td {
            color: white !important;
        }

        td.mat-cell:not(:first-of-type):not(:last-of-type) {
            padding: 0.5em !important;
        }

        tr:nth-child(4n + 1),
        tr:nth-child(4n + 2) {
            background-color: #673ab7 !important;
        }
    }

    div#user tbody {
        background-color: #36393e !important;

        td {
            color: white !important;
        }

        td.mat-cell:not(:first-of-type):not(:last-of-type) {
            padding: 0.5em !important;
        }

        tr:nth-child(odd) {
            background-color: #673ab7 !important;
        }
    }

    .mat-menu-panel,
    mat-dialog-container {
        background-color: #747474;
    }

    @media screen and (max-width: 575px) {
        .element-row:hover {
            background: #7c5692 !important;
        }
    }
}
